<a href="https://colab.research.google.com/github/ShivanshGupta1/More-For-Loop-Patterns-and-Logical-Operators/blob/main/More_Patterns_In_For_Loop_and_Logical_Operators_(GitHub).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#logical operators
#and, or and not
for row in range(3):
  for col in range(4):
    print(col, end='')
  print()

In [ ]:
for row in range(4):
  for col in range(3):
    if (col==0 and row==1) or (col==0 and row==2) or (col==2 and row ==1) or (col==2 and row==2):
      print(' ', end='')
    elif (row==0) or (row==3):
      print('-', end='')
    else:
      print('|', end='')
  print()

In [ ]:
for row in range(1,7):
  for col in range(1,7):
    if (col==1) or (col==6) or (row==1) or (row==6):
      print('+', end='')

    else:
      print(' ', end='')
  print()

In [ ]:
for row in range(1,9):
  for col in range(1,6):
    if (col==1) or (row==1) or (row==4) or (col==5 and row<5):
      print('#', end='')
    else:
      print(' ', end='')
  print()

In [ ]:
L = ['p','y','t','h','o','n']
for row in range(len(L)):
  for col in range(row+1):
    print(L[col], end='')
  print()

In [ ]:
for row in range(4):
  print((3-row)*' ', (2*row+1)*'#')

In [ ]:
for row in range(4):
  print((3-row)*' ', (2*row+1)*'+')
  if row==3:
    for row in range(3):
     print((1+row)*' ', (row+5-row*3)*'+')

In [ ]:
for row in range(1,6):
  print('*'*row)
  if row==5:
    for row in range(4):
      print((row+4-row*2)*'*')
    break

In [ ]:
for row in range(1,6,1):
  for col in range(1,row+1):
      print(col, end='')
  print()

In [ ]:
for row in range(1,5):
  for col in range(1,6-row):
      print(col, end='')
  print()

In [ ]:
for row in range(1,5):
  for col in range(1,row+1):
      print(row, end='')
  print()

In [ ]:
#flyod's triangle  
num = 0 
for row in range(1,5):
  for col in range(1, row+1):
    num = num + 1
    print(num, end='')
  print()